MHB.Gadgets/Service References/MhbApiService/MhbApiService116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TupleOfdoubledouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:double" />
      <xs:element name="m_Item2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdoubledouble" nillable="true" type="tns:TupleOfdoubledouble" />
  <xs:complexType name="MarshalByRefObject">
    <xs:sequence>
      <xs:element name="__identity" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarshalByRefObject" nillable="true" type="tns:MarshalByRefObject" />
</xs:schema>