MHB.Gadgets/Service References/MhbApiService/MhbApiService118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57559/MhbApiService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:57559/MhbApiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MHB.BL" />
  <xs:import schemaLocation="http://localhost:57559/MhbApiService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MHB.Logging" />
  <xs:import schemaLocation="http://localhost:57559/MhbApiService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:element name="DeleteParentExpenditure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="expenditureIDs" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParentExpenditureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteParentExpenditureResult" type="xs:int" />
        <xs:element minOccurs="0" name="executedQry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChildExpenditures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="expenditureIDs" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChildExpendituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteChildExpendituresResult" type="xs:int" />
        <xs:element minOccurs="0" name="executedQry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParentExpenditure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
        <xs:element minOccurs="0" name="currentMonth" type="xs:int" />
        <xs:element minOccurs="0" name="expectedValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccuringEveryMonthOfTheYear" type="xs:boolean" />
        <xs:element minOccurs="0" name="reccuringForFollowingMonthsOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="dueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParentExpenditureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddParentExpenditureResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="februaryException" type="xs:boolean" />
        <xs:element minOccurs="0" name="executedQry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserExpenditures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
        <xs:element minOccurs="0" name="currentMonth" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="searchOption" type="q3:Enums.SearchOptions" />
        <xs:element minOccurs="0" name="searchByYearToo" type="xs:boolean" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comarisonOperator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchByCategoryToo" type="xs:boolean" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="sortOption" type="q4:Enums.SortOptions" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="sortDirection" type="q5:Enums.SortDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserExpendituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="SearchUserExpendituresResult" nillable="true" type="q6:ArrayOfExpenditure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenditureDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenditureDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetExpenditureDetailsResult" nillable="true" type="q7:ArrayOfExpenditureDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParentExpenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="expensesToUpdate" nillable="true" type="q8:ArrayOfExpenditure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParentExpensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateParentExpensesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAverageSumForCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAverageSumForCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsersAverageSumForCategoryResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyParentExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentExpenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyParentExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyParentExpenseResult" type="xs:int" />
        <xs:element minOccurs="0" name="qryToLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentExpenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttachmentResult" type="xs:int" />
        <xs:element minOccurs="0" name="qryToLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaximumExpenditureForCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaximumExpenditureForCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetMaximumExpenditureForCategoryResult" nillable="true" type="q9:Expenditure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIncome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
        <xs:element minOccurs="0" name="currentMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetUserIncomeResult" nillable="true" type="q10:ArrayOfIncome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateExpenditures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationMonth" type="xs:int" />
        <xs:element minOccurs="0" name="destinationYear" type="xs:int" />
        <xs:element minOccurs="0" name="currentMonth" type="xs:int" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
        <xs:element minOccurs="0" name="deleteExistingData" type="xs:boolean" />
        <xs:element minOccurs="0" name="copyFlaggedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="markUnpaid" type="xs:boolean" />
        <xs:element minOccurs="0" name="zeroActualSum" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateExpendituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DuplicateExpendituresResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="qryToLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlyExpensesProMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlyExpensesProMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetYearlyExpensesProMonthResult" type="q11:ExpensesProMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlyBudgetsProMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlyBudgetsProMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetYearlyBudgetsProMonthResult" type="q12:ExpensesProMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlySavingsProMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearlySavingsProMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetYearlySavingsProMonthResult" type="q13:ExpensesProMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserExpenditures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mainTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detailsTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="flaggedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="loadDetails" type="xs:boolean" />
        <xs:element minOccurs="0" name="hidePaid" type="xs:boolean" />
        <xs:element minOccurs="0" name="userIDToLookUp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserExpendituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetUserExpendituresResult" nillable="true" type="q14:ArrayOfExpenditure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenditures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="flaggedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="loadDetails" type="xs:boolean" />
        <xs:element minOccurs="0" name="hidePaid" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpendituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MHB.BL" minOccurs="0" name="GetExpendituresResult" nillable="true" type="q15:ArrayOfExpenditure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MHB.Logging" minOccurs="0" name="GetActionLogsResult" nillable="true" type="q16:ArrayOfActionLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceptionLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceptionLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MHB.Logging" minOccurs="0" name="GetExceptionLogsResult" nillable="true" type="q17:ArrayOfExceptionLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userToBlockID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlockUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BanIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddressV4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddressV6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userToBlockID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BanIPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="parameters" nillable="true" type="q18:ArrayOfSqlParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSingleValueResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qry" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="parameters" nillable="true" type="q19:ArrayOfSqlParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qry" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="parameters" nillable="true" type="q20:ArrayOfSqlParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataReaderResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qry" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="parameters" nillable="true" type="q21:ArrayOfSqlParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>